@using CCM.Core.Helpers
@using Roles = CCM.Core.Helpers.Roles
@model System.Collections.Generic.List<CCM.Core.Entities.CodecPreset>

@{
    ViewBag.Title = Resources.Codec_Presets;
}

@section search
{
    @using (Html.BeginForm("Index", "Presets", FormMethod.Post, new { @class = "navbar-form navbar-right ccm-navbar-search", role = "search" }))
    {
        <div class="form-group">
            <input type="text" id="search" name="search" autofocus class="form-control ccm-navbar-search--field" placeholder="@Resources.Search" value="@ViewBag.SearchString">
            <button type="submit" class="btn btn-default ccm-navbar-search--btn">@Resources.Search</button>
        </div>
    }
}

<div class="row">
    <nav class="navbar navbar-default ccm-sub-navbar--admin" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header ccm-sub-navbar--admin--header">
                <span class="navbar-brand">@Resources.Codec_Presets</span>
            </div>
            <div class="navbar ccm-sub-navbar--admin--links">
                @if (User.IsInRole(Roles.Admin))
                {
                    <ul class="nav navbar-nav nav-pills ccm-sub-navbar--admin--ul">
                        <li>@Html.ActionLink(Resources.New_Preset, "Create", "Presets")</li>
                    </ul>
                }
            </div>
        </div>
    </nav>
</div>

<div class="row">
    <div class="panel panel-default list-ccm">
        <div class="panel-heading list-ccm-heading">
            <div>@Resources.Name</div>
        </div>
        <div class="panel-body-lp">
            @foreach (var codecPreset in Model)
            {
                <div class="panel-body-item row">
                    <div class="col-md-10">@codecPreset.Name</div>
                    <div class="col-md-1 text-right"></div>
                    <div class="col-md-1 text-right list-ccm-icongroup">
                        @if (User.IsInRole(Roles.Admin))
                        {
                            @Html.ActionLink(" ", "Edit", "Presets", new { @id = codecPreset.Id }, new { @class = "glyphicon glyphicon-pencil list-ccm-inlineicon" })
                            @Html.ActionLink(" ", "Delete", "Presets", new { @id = codecPreset.Id }, new { @class = "glyphicon glyphicon-trash list-ccm-inlineicon" })
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>