@using CCM.Core.Helpers
@using Roles = CCM.Core.Helpers.Roles
@model List<CCM.Core.Entities.CodecType>

@{
    ViewBag.Title = Resources.Codec_Types;
}
@section search
{
    @using (Html.BeginForm("Index", "CodecTypes", FormMethod.Post, new {@class = "navbar-form navbar-right ccm-navbar-search", role = "search"}))
    {
        <div class="form-group">
            <input type="text" id="search" name="search" autofocus class="form-control ccm-navbar-search--field" placeholder="@Resources.Search" value="@ViewBag.SearchString">
            <button type="submit" class="btn btn-default ccm-navbar-search--btn">@Resources.Search</button>
        </div>
    }
}

<div class="row">
    <nav class="navbar navbar-default ccm-sub-navbar--admin" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header ccm-sub-navbar--admin--header">
                <span class="navbar-brand">@Resources.Codec_Types</span>
            </div>
            <div class="navbar ccm-sub-navbar--admin--links" >
                @if (User.IsInRole(Roles.Admin))
                {
                    <ul class="nav navbar-nav nav-pills ccm-sub-navbar--admin--ul">
                        <li>@Html.ActionLink(Resources.New_Codec_Type, "Create", "CodecTypes")</li>
                    </ul>
                }
            </div>
        </div>
    </nav>
</div>

<div class="row">
    <div class="panel panel-default list-ccm">
        <div class="panel-heading list-ccm-heading">
            <div>@Resources.Name</div>
        </div>
        <div class="panel-body-lp">
            @foreach (var codecType in Model)
            {
                <div class="panel-body-item row">
                    <div class="col-md-4">@codecType.Name</div>
                    <div class="col-md-6">
                        @if (!string.IsNullOrWhiteSpace(codecType.Color))
                        {
                            <div class="list-ccm--codectype-color" style="background-color: @codecType.Color">
                                <span style="color: @codecType.Color">@Resources.Color</span>
                            </div>
                        }
                    </div>
                    <div class="col-md-1 text-right list-ccm--badge"><span class="badge">@codecType.Users.Count</span></div>
                    <div class="col-md-1 text-right list-ccm-icongroup">
                        @if (User.IsInRole(Roles.Admin))
                        {
                            @Html.ActionLink(" ", "Edit", "CodecTypes", new {@id = codecType.Id}, new {@class = "glyphicon glyphicon-pencil list-ccm-inlineicon"})
                            if (codecType.Users.Count == 0)
                            {
                                @Html.ActionLink(" ", "Delete", "CodecTypes", new {@id = codecType.Id}, new {@class = "glyphicon glyphicon-trash list-ccm-inlineicon"})
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>