@using System.Configuration
@using System.Reflection
@using CCM.Core.Helpers
@{
    var logoClass = "logo-stage";
    string deployVersion = Assembly.GetAssembly(typeof(CCM.Core.Entities.Call)).GetName().Version.ToString(3);
    string buildDateString = ConfigurationManager.AppSettings["BuildDate"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Android chrome -->
    <meta name="theme-color" content="#337ab7" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#337ab7">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>CCM</title>
    @Styles.Render("~/Content/css")
    @RenderSection("head", required: false)
</head>
<body ng-app="ccm"><!-- TODO: Hmm, dont think this one is in use -->
    @RenderSection("bodyTop", false)
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="@logoClass"></a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-left">

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- Searchbar -->
                    <li>
                        @RenderSection("search", required: false)
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer class="ccm-layout-footer">
            <p>&copy; 2014 - @DateTime.Now.Year Sveriges Radio. Version <strong>@deployVersion</strong> - <strong>@buildDateString</strong></p>
        </footer>
    </div>

    @RenderSection("bodyBottom", false)

    @Scripts.Render("~/bundles/ccm")
    @RenderSection("scripts", required: false)
</body>
</html>
