@using System.Security.Claims
@if (Request.IsAuthenticated)
{
    var identity = (ClaimsIdentity)User.Identity;
    var fullNameClaim = identity.Claims.SingleOrDefault(c => c.Type == "FullName");
    var name = fullNameClaim != null ? fullNameClaim.Value : identity.Name;

    <div class="ccm-top-navbar-account">
        <div class="ccm-top-navbar-account--information"><span class="ccm-top-navbar-account--explain-text">@Resources.Logged_In_As </span>@name</div>
        <div class="ccm-top-navbar-account--logout">@Html.ActionLink(@Resources.Log_Off, "LogOff", "Account", new { }, null)</div>
    </div>
}
else
{
    <div class="ccm-top-navbar-account">
        <div class="ccm-top-navbar-account--login">
            @Html.ActionLink(Resources.Log_In, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
    </div>
}
