@model CCM.Web.Models.Profile.ProfileGroupViewModel

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("CreateEdit", "ProfileGroup", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.Partial("_ProfileGroup", Model)
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        $(function () {
            $("#profiles").sortable({
                update: function () {
                    $('#profiles li').each(function (index, element) {
                        $(element).find('.sortIndex').val(index);
                    });
                }
            });
            $("#profiles").disableSelection();
        })
    </script>
}