@model CCM.Core.Entities.ProfileGroup

@{
    ViewBag.Title = Resources.Delete_ProfileGroup;
}

<h2>@Resources.Delete_ProfileGroup</h2>
<hr />
<p>@Resources.Delete_ProfileGroup_Are_You_Sure</p>
<p>@Model.Name</p>

@using (Html.BeginForm("Delete", "ProfileGroup", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.ActionLink(Resources.Cancel, "Index", "ProfileGroup", null, new { @class = "btn btn-default" })
        <button type="submit" class="btn btn-danger">@Resources.Delete</button>
    </div>
}