@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CCM.Web.Properties.Resources> Localizer
@using Roles = CCM.Core.Helpers.Roles
@model IList<CCM.Core.Entities.ProfileGroup>

@{
    ViewData["Title"] = @Localizer["Profile_Groups"];
    int sortCounter = 0;
}

@section search {
    @using (Html.BeginForm("Index", "ProfileGroup", FormMethod.Post, new { @class = "navbar-form navbar-right", role = "search", @id = "searchForm" }))
    {
        <div class="form-group">
            <input type="text" id="search" name="search" autofocus class="form-control ccm-navbar-search--field" placeholder="@Localizer["Search"]" value="@ViewData["SearchString"]">
            <button type="submit" class="btn btn-default ccm-navbar-search--btn">@Localizer["Search"]</button>
        </div>
    }
}

<div class="row">
    <nav class="navbar navbar-default ccm-sub-navbar--admin" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header ccm-sub-navbar--admin--header">
                <h2>@Localizer["Profile_Groups"]</h2>
                <span class="navbar-page-description">@Localizer["Profile_Group_Page_Description"]</span>
            </div>
            <div class="navbar ccm-sub-navbar--admin--links">
                @if (User.IsInRole(Roles.Admin))
                {
                    <ul class="nav navbar-nav nav-pills ccm-sub-navbar--admin--ul">
                        <li>@Html.ActionLink(@Localizer["New_ProfileGroup"].Value, "Create", "ProfileGroup")</li>
                    </ul>
                }
            </div>
        </div>
    </nav>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading list-ccm-heading">
            <div class="row">
                <div class="col-md-3">@Localizer["Name"]</div>
                <div class="col-md-8">@Localizer["Description"]</div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="panel-body-lp" id="profileGroups">
            @foreach (var profilegroup in Model)
            {
                <div class="profilegroup-row">
                    @Html.Hidden("SortIndex", sortCounter, new { @class = "sortWeight" })
                    @Html.HiddenFor(p => profilegroup.Id, new { @class = "profileGroupId" })
                    <div class="panel-body-item row">
                        <a data-toggle="collapse" data-parent="#accordion" href="#@profilegroup.Id">
                            <div class="col-md-3">@profilegroup.Name</div>
                            <div class="col-md-8">@profilegroup.Description</div>

                            <div class="col-md-1 text-right list-ccm-icongroup">
                                @if (User.IsInRole(Roles.Admin))
                                {
                                    @Html.ActionLink(" ", "Edit", "ProfileGroup", new { @id = profilegroup.Id }, new { @class = "glyphicon glyphicon-pencil list-ccm-inlineicon" })
                                    @Html.Raw("&nbsp;&nbsp;&nbsp;")
                                    @Html.ActionLink(" ", "Delete", "ProfileGroup", new { @id = profilegroup.Id }, new { @class = "glyphicon glyphicon-trash list-ccm-inlineicon" })
                                }
                            </div>
                        </a>
                    </div>
                    <div class="row panel-collapse collapse mui-well" id="@profilegroup.Id">
                        <div class="col-md-12 panel-body">
                            <div class="col-md-4">
                                <dl>
                                    <dt>@Localizer["Profiles"]</dt>
                                    @foreach (var profile in profilegroup.Profiles)
                                    {
                                        <dd>@profile.Name</dd>
                                    }
                                </dl>
                            </div>
                            <div class="col-md-4">
                                @profilegroup.GroupSortWeight
                            </div>
                        </div>
                    </div>
                </div>
                sortCounter++;
            }
        </div>
    </div>
</div>
