@model CCM.Core.Entities.UserAgent

@{
    ViewBag.Title = Resources.Delete_UserAgent;
}

<h2>@Resources.Delete_UserAgent</h2>
<hr />
<p>@Resources.Delete_UserAgent_Are_You_Sure</p>
<p>@Model.Name</p>

@using (Html.BeginForm("Delete", "UserAgents", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.ActionLink(Resources.Cancel, "Index", "UserAgents", null, new { @class = "btn btn-default" })
        <button type="submit" class="btn btn-danger">@Resources.Delete</button>
    </div>
}