@using CCM.Core.Helpers
@using Roles = CCM.Core.Helpers.Roles
@model System.Collections.Generic.List<CCM.Web.Models.Cities.CityViewModel>

@{
    ViewBag.Title = Resources.Cities;
}

@section search
{
    @using (Html.BeginForm("Index", "City", FormMethod.Post, new { @class = "navbar-form navbar-right ccm-navbar-search", role = "search" }))
    {
        <div class="form-group">
            <input type="text" id="search" name="search" autofocus class="form-control ccm-navbar-search--field" placeholder="@Resources.Search" value="@ViewBag.SearchString">
            <button type="submit" class="btn btn-default ccm-navbar-search--btn">@Resources.Search</button>
        </div>
    }
}

<div class="row">
    <nav class="navbar navbar-default ccm-sub-navbar--admin" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header ccm-sub-navbar--admin--header">
                <span class="navbar-brand">@Resources.Cities</span>
            </div>
            <div class="navbar ccm-sub-navbar--admin--links">
                @if (User.IsInRole(Roles.Admin))
                {
                    <ul class="nav navbar-nav nav-pills ccm-sub-navbar--admin--ul">
                        <li>@Html.ActionLink(Resources.New_City, "Create", "City")</li>
                    </ul>
                }
            </div>
        </div>
    </nav>
</div>

<div class="row">
    <div class="panel panel-default list-ccm">
        <div class="panel-heading list-ccm-heading">

        </div>
        <div class="panel-body-lp">
            @foreach (var city in Model)
            {
                <div class="panel-body-item row">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@city.Id">
                        <div class="col-md-10">@city.Name</div>
                        <div class="col-md-1 text-right list-ccm--badge"><span class="badge">@city.Locations.Count</span></div>
                        <div class="col-md-1 text-right list-ccm-icongroup">
                            @if (User.IsInRole(Roles.Admin))
                            {
                                @Html.ActionLink(" ", "Edit", "City", new {@id = city.Id}, new {@class = "glyphicon glyphicon-pencil list-ccm-inlineicon"})
                                @Html.ActionLink(" ", "Delete", "City", new {@id = city.Id}, new {@class = "glyphicon glyphicon-trash list-ccm-inlineicon"})
                            }
                        </div>
                    </a>
                </div>
                <div class="row panel-collapse collapse well" id="@city.Id">
                    <div class="col-md-12 panel-body">
                        <dl>
                            <dt>@Resources.Locations</dt>
                            @foreach (var location in city.Locations)
                            {
                                <dd>@location.Name</dd>
                            }
                        </dl>
                    </div>
                </div>
            }
        </div>
    </div>
</div>