
@{
    ViewBag.Title = "Debug";
}

<h2>Test</h2>

@Html.ActionLink("Get CCM Users", "GetCCMUsers")
<br />

@Html.ActionLink("Get SIP Accounts", "GetSipAccounts")
<br />

@Html.ActionLink("Get Radius Users", "GetRadiusUsers")
<br />

@Html.ActionLink("Import local passwords", "ImportLocalPasswords")
<br />
@Html.ActionLink("Import CCM users password", "ImportCcmUserPasswords")
<br />
@Html.ActionLink("Import SIP Accounts password", "ImportSipAccountPasswords")
<br />

@Html.ActionLink("Who Am I", "WhoAmI")
<br />

@Html.ActionLink("Cache info", "CacheInfo")
<br />
