@model CCM.Core.Entities.Profile

@{
    ViewBag.Title = Resources.Delete_Profile;
}

<h2>@Resources.Delete_Profile</h2>
<hr/>
<p>@Resources.Delete_Profile_Are_You_Sure</p>
<p>@Model.Name</p>

@using (Html.BeginForm("Delete", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    
    <div class="form-group">
        @Html.ActionLink(Resources.Cancel, "Index", "Profile", null, new { @class = "btn btn-default" })
        <button type="submit" class="btn btn-danger">@Resources.Delete</button>
    </div>
}