


@if (CategoryDataStatisticsList == null && Regions == null)
{
    <p>Loading..</p>
}
else
{

    <EditForm Model="categoryStatisticsModel">
        <div>

            @if (Regions != null)
            {
                <label for="Region">Region</label>
                <select @onchange=@CreatePieChart name="Region">
                    <option value="">Alla Regioner</option>

                    @foreach (var region in Regions)
                    {
                        <option value="@region.Name">@region.Name</option>
                    }
                </select>
            }

            @if (CategoryNames != null)
            {
                <label for="Category">Kategori</label>

                <select @onchange=@CreateBarChart name="Category">
                    @foreach (var category in CategoryNames)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            }
        </div>

        <h3>@RegionName</h3>

        <div id="errormessage"></div>
        <div>
            <svg id="display"></svg>

            <svg id="bar-chart" width="650" height="400"></svg>
        </div>

    </EditForm>

    <table id="categoryTable" class="table table-active">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of calls</th>
                <th>Total time</th>
            </tr>
        </thead>

        <tbody>

            @if (catNumOfCalls.Count > 0)
            {

                @foreach (var stat in catNumOfCalls)
                {
                    <tr>
                        <td>@stat.Name</td>
                        <td>@stat.NumberOfCalls</td>
                        @*  <td>@stat.TotalTimeForCalls</td>*@
                    </tr>
                }
            }
        </tbody>

    </table>







}

