
@if (Regions == null && Owners == null && CodecTypes == null)
{
    <p><em>Loading..</em></p>
}
else
{
<EditForm Model="@locationStatisticsModel">
    <div>
        <div>
            <div class="form-group row">
                <label for="StartDate">From</label>
                <InputDate @bind-Value="locationStatisticsModel.StartTime"></InputDate>
                <label for="EndDate">To</label>
                <InputDate @bind-Value="locationStatisticsModel.EndTime"></InputDate>
            </div>
        </div>

        <div>
            <label for="Region">Region</label>
            <select name="Region" @bind="locationStatisticsModel.RegionId">
                @foreach (var region in Regions)
                {
                    <option value="@region.Id">@region.Name</option>
                }
            </select>
        </div>
        <div>
            <label for="Owner">Owner</label>
            <select name="Owner" @bind="locationStatisticsModel.OwnerId">
                @foreach (var owner in Owners)
                {
                    <option value="@owner.Id">@owner.Name</option>
                }
            </select>
        </div>
        @*<div>
            <label for="CodecType">Codec Type</label>

            <select name="CodecType" @bind="locationStatisticsModel.CodecTypeId">
                @foreach (var codecType in CodecTypes)
                {
                    <option value="@codecType.Id">@codecType.Name</option>
                }
            </select>
        </div>*@
    </div>

    <button id="buttonGetPerson" class="btn btn-primary" @onclick="() => GetLocationNumberOfCallsTable(locationStatisticsModel.RegionId, locationStatisticsModel.OwnerId, locationStatisticsModel.StartTime, locationStatisticsModel.EndTime)">
        Get Data
    </button>
</EditForm>
    @if(visible)
    {
        <tr>
            <td colspan="5">
                <LocationStatisticsResult Statistics="locationStatisticsOverview.Statistics"></LocationStatisticsResult>
            </td>
        </tr>
    }
}
