@if (Statistics == null)
{
    <p>Loading..</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Location name</th>
                <th>Number of calls</th>
                <th>Total call time</th>
                <th>Simultaneous calls(max number)</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Statistics)
            {
                <tr>
                    <td>@item.LocationName</td>
                    <td>@item.NumberOfCalls</td>
                    <td>@item.TotaltTimeForCalls</td>
                    <td>@item.MaxSimultaneousCalls</td>
                </tr>
            }
        </tbody>
    </table>


    <table class="table table-active">
        <thead>
              <tr>
                 <th>Location</th>
                 <th>Codec name</th>
                 <th>Number of calls</th>
              </tr>
        </thead>
        <tbody>
            @foreach (var stat in Statistics)
            {
                <tr>
                    <th id="rome" class="span" colspan="5" scope="colgroup">
                        @stat.LocationName
                    </th>
                </tr>
                @foreach (var codec in stat.CodecTypeDataList)
                {
                    <tr>
                        <td></td>
                        <td>@codec.Name</td>
                        <td>@codec.NumberOfCalls</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public IEnumerable<LocationBasedStatistics> Statistics { get; set; } = new List<LocationBasedStatistics>();

}