@using System.Collections
@using CCM.Core.Entities
@using CCM.Core.Entities.Specific
@model CCM.Web.Controllers.CacheViewModel

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-3">Cache name:</div>
    <div class="col-md-7">@Model.Name</div>
</div>

<div class="row">
    <div class="col-md-3">Hash code:</div>
    <div class="col-md-7">@Model.HashCode</div>
</div>

<div class="row">
    <div class="col-md-3">Cashed objects:</div>
    <div class="col-md-7">@Model.Count</div>
</div>

<hr />

<div class="row">
    <div class="panel panel-default list-ccm">
        <div class="panel-heading list-ccm-heading">
            <div class="row">
                <div class="col-md-5">Cache key</div>
                <div class="col-md-5">Cached type</div>
                <div class="col-md-2">List count</div>
            </div>
        </div>
        <div class="panel-body-lp">
            @foreach (var cachedItem in Model.CachedItems)
            {
                <div class="panel-body-item row">
                    <div class="col-md-5">@cachedItem.CacheKey</div>
                    <div class="col-md-5">@cachedItem.CachedType</div>
                    <div class="col-md-1">@cachedItem.ListCount</div>
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    
    @if (Model.CachedItems != null)
    {
        <h4>Cached objects</h4>
    }
    @foreach (var cachedItem in Model.CachedItems)
    {
        var cachedList = cachedItem.CachedObject as IList;
        if (cachedList != null)
        {
            <p>@cachedItem.CacheKey (@cachedList.Count)</p>

            <table>
                @foreach (var row in cachedList)
                {
                    <tr>
                        @if (row is OldCall)
                        {
                            var call = row as OldCall;
                            <td>@call.FromDisplayName (@call.FromSip)</td>
                            <td>@call.ToDisplayName (@call.ToSip)</td>
                            <td>@call.Started.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            <td>@call.Ended.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        }
                        else if (row is OnGoingCall)
                        {
                            var call = row as OnGoingCall;
                            <td>@call.FromDisplayName (@call.FromSip)</td>
                            <td>@call.ToDisplayName (@call.ToSip)</td>
                            <td>@call.Started.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        }
                        else if (row is RegisteredUserAgentDiscovery)
                        {
                            var regsip = row as RegisteredUserAgentDiscovery;
                            <td>@regsip.DisplayName (@regsip.SipUri)</td>
                            <td>@regsip.Updated.ToString("yyyy-MM-dd HH:mm:ss.fff")</td>
                        }
                        else if (row is Setting)
                        {
                            var setting = row as Setting;
                            <td>@setting.Name</td>
                            <td>@setting.Value</td>
                            <td>@setting.UpdatedOn.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        }
                        else if (row is AvailableFilter)
                        {
                            var filter = row as AvailableFilter;
                            <td>@filter.Name</td>
                            <td>@string.Join(", ", filter.Options)</td>
                        }
                        else if (row is ProfileNameAndSdp)
                        {
                            var profile = row as ProfileNameAndSdp;
                            <td>@profile.Name</td>
                        }
                        @*else if (row is CacheMessage)
                        {
                            var msg = row as CacheMessage;
                            <td>@msg.Id</td>
                            <td>@msg.Operation</td>
                        }*@
                        else
                        {
                            <td>@row</td>
                        }
                    </tr>
                }
            </table>
        }
    }

</div>
