@model CCM.Web.Models.User.DeleteUserViewModel

@{
    ViewBag.Title = Resources.Delete_User;
}

<h2>@Resources.Delete_User</h2>
<hr/>
<p>@Resources.Delete_User_Are_You_Sure</p>
<p>@Model.UserName</p>

@using (Html.BeginForm("Delete", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.UserName)
    <div class="form-group">
        @Html.ActionLink(Resources.Cancel, "Index", "User", null, new { @class = "btn btn-default" })
        <button type="submit" class="btn btn-danger">@Resources.Delete</button>
    </div>
}