@model CCM.Web.Models.User.UserViewModel
@using Microsoft.AspNet.Identity

@{
    Guid currentUserId = Guid.Parse(User.Identity.GetUserId());
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#search").focus();
        });
    </script>
}

@section search
{
    @using (Html.BeginForm("Index", "User", FormMethod.Post, new { @class = "navbar-form navbar-right ccm-navbar-search", role = "search" }))
    {
        <div class="form-group">
            <input type="text" id="search" name="search" autofocus class="form-control ccm-navbar-search--field" placeholder="@Resources.Search">
            <button type="submit" class="btn btn-default ccm-navbar-search--btn">@Resources.Search</button>
        </div>
    }
}

<div class="row">
    <nav class="navbar navbar-default ccm-sub-navbar--admin" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header ccm-sub-navbar--admin--header">
                <span class="navbar-brand">@Resources.Users</span>
            </div>
            <div class="navbar ccm-sub-navbar--admin--links">
                <ul class="nav navbar-nav nav-pills ccm-sub-navbar--admin--ul">
                    <li>@Html.ActionLink(Resources.New_User, "Create", "User")</li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="row">
    <div class="panel panel-default list-ccm">
        <div class="panel-heading list-ccm-heading">
            <div class="row">
                <div class="col-md-3">@Resources.UserName</div>
                <div class="col-md-7">@Resources.Name - @Resources.Comment</div>
                <div class="col-md-2">@Resources.Role</div>
            </div>
        </div>

        <div class="panel-body-lp">
            @foreach (var account in Model.Users)
            {
                <div class="row panel-body-item">
                    <div class="col-md-3">@account.UserName</div>
                    <div class="col-md-7">@account.FirstName @account.LastName @((!string.IsNullOrWhiteSpace(account.FirstName) || !string.IsNullOrWhiteSpace(account.LastName)) && !string.IsNullOrWhiteSpace(account.Comment) ? " - " : string.Empty) @account.Comment</div>
                    <div class="col-md-1">@account.Role</div>
                    <div class="col-md-1 text-right list-ccm-icongroup">
                        @Html.ActionLink(" ", "Edit", "User", new { @id = account.Id }, new { @class = "glyphicon glyphicon-pencil list-ccm-inlineicon" })
                        @if (account.Id != currentUserId)
                        {
                            @Html.ActionLink(" ", "Delete", "User", new { @id = account.Id }, new { @class = "glyphicon glyphicon-trash list-ccm-inlineicon" })
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>