
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CCM.Web.Properties.Resources> Localizer
@model CCM.Web.Models.Statistics.DateBasedChartCategoriesViewModel

@*<div class="tab-pane--topbanner">
    <a href="@Url.Action("GetDateBasedCsv", new { filterType = Model.FilterType, startDate = Model.StartDate, endDate = Model.EndDate, filterId = Model.FilterId })"><span class="glyphicon glyphicon-download"></span>&nbsp;@Localizer["Download_Csv"]</a>
</div>*@
<div>
    <h3>@Localizer["Stats_Number_Of_Calls"]</h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>@Localizer["Date"]</th>
                <th>@Localizer["Region"]</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Calls"]</th>
                <th>@Localizer["Total"] @Localizer["Call_Time"]</th>
            </tr>
        </thead>
        <tbody>
            @{
                var zeroCallsStartDate = @Model.StartDate;
                var previousDate = @Model.StartDate;
                var printedDate = false;
            }
            @foreach (var dd in Model.Stats)
            {
                @foreach (var cats in dd.RegionCategories)
                {
                    @foreach (var row in cats.CategoryStatisticsList)
                    {

                        if (row.NumberOfCalls == 0)
                        {
                            if (printedDate == false)
                            {
                                printedDate = true;
                                zeroCallsStartDate = cats.Date; // row.Date;
                            }
                        }
                        else if (printedDate)
                        {
                            <tr>
                                <td colspan="6">@zeroCallsStartDate</td>
                            </tr>
                            <tr>
                                <td colspan="6">
                                    &#65076;
                                    &#xFE34;
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6">@previousDate</td>
                            </tr>
                            printedDate = false;
                        }
                        else
                        {
                            printedDate = false;

                        }
                        previousDate = cats.Date;

                        if (row.NumberOfCalls != 0)
                        {
                            <tr>
                                <td class="col-md-3">@dd.Date - @cats.Date</td>
                                <td>@cats.Name</td>
                                <td>@row.Name</td>
                                <td>@row.NumberOfCalls</td>
                                <td>@row.TotalTimeForCalls</td>
                            </tr>
                        }
                    }
                }
            }
            </tbody>
    </table>
</div>

<div id="errormessage"></div>
<div>
    <svg id="display"></svg>

    <svg id="bar-chart" width="650" height="400"></svg>
</div>
