@{
    ViewBag.Title = "Change Log Level";
    var logLevel = ViewBag.CurrentLevel;
    var application = ViewBag.Application as string ?? "";
}

<div class="row">
    <nav class="navbar navbar-default ccm-sub-navbar--admin" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header ccm-sub-navbar--admin--header">
                <span class="navbar-brand">Change log level (current: @logLevel)</span>
            </div>
            <div class="navbar ccm-sub-navbar--admin--links">
                <ul class="nav navbar-nav nav-pills ccm-sub-navbar--admin--ul">
                    <li>@Html.ActionLink("Log", "Index", "Log")</li>
                    <li>@Html.ActionLink("Clear logs", "Delete", "Log")</li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        Current log level is @logLevel
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Level", "Log", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            <div class="col-md-12">
                @{
                    foreach (var level in NLog.LogLevel.AllLevels)
                    {
                        <div class="ccm-form-group--radio">
                            <label>
                                <div class="ccm-form-group-radio--btn">
                                    <input type="radio" name="loglevel" value="@level.Name" @(logLevel == level.Name ? "checked" : "")>
                                </div>
                                <div class="ccm-form-group-radio--text">
                                    @level.Name.ToUpper()
                                    @(level.Name == "Info" ? "(Safe for normal operation)" : "")
                                </div>
                            </label>
                        </div>
                    }
                }

                @Html.Hidden("Application", application)
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Spara</button>
                </div>
            </div>
        }
    </div>
</div>