
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CCM.Web.Properties.Resources> Localizer
@using CCM.Web.Models.Log
@{
    ViewData["Title"] = @Localizer["Logs_Title_Change_Log_Level"];
    var logLevel = ViewData["CurrentLevel"];
    var application = ViewData["Application"] as string ?? "";
}

<div class="row">
    <nav class="navbar navbar-default ccm-sub-navbar--admin" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header ccm-sub-navbar--admin--header">
                <h2>@Localizer["Logs_Title_Change_Log_Level"], @application '@logLevel'</h2>
                <span class="navbar-page-description"></span>
            </div>
            <div class="navbar ccm-sub-navbar--admin--links">
                <ul class="nav navbar-nav nav-pills ccm-sub-navbar--admin--ul">
                    <li>@Html.ActionLink(CcmApplications.Web + " " + @Localizer["Logs"].Value, "Index", "Log", new { application = CcmApplications.Web }, new { })</li>
                    <li>@Html.ActionLink(CcmApplications.Discovery + " " + @Localizer["Logs"].Value, "Index", "Log", new { application = CcmApplications.Discovery }, new { })</li>
                    <li>@Html.ActionLink(@Localizer["Logs_Title_Clear_Logs"].Value, "Delete", "Log", new { application = application }, new { })</li>
                    <li class="@(application == CcmApplications.Web ? "active" : "")">@Html.ActionLink(@Localizer["Logs_Link_Change_Log_Level_For"].Value + " " + CcmApplications.Web, "Level", "Log", new { application = CcmApplications.Web }, new { })</li>
                    <li class="@(application == CcmApplications.Discovery ? "active" : "")">@Html.ActionLink(@Localizer["Logs_Link_Change_Log_Level_For"].Value + " " + CcmApplications.Discovery, "Level", "Log", new { application = CcmApplications.Discovery }, new { })</li>
                </ul>
            </div>
        </div>
    </nav>
</div>

@using (Html.BeginForm("Level", "Log", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        <label class="col-md-2 control-label" for="nrOfRowsToDelete">@Localizer["Logs_Log_Levels"]</label>
        <div class="col-md-10">
            @{
                foreach (var level in NLog.LogLevel.AllLevels)
                {
                    <div class="ccm-form-group--radio">
                        <label>
                            <div class="ccm-form-group-radio--btn">
                                <input type="radio" name="loglevel" value="@level.Name" @((string)logLevel == level.Name ? "checked" : "")>
                            </div>
                            <div class="ccm-form-group-radio--text">
                                @level.Name.ToUpper()
                                @(level.Name == "Info" ? "(Safe for normal operation)" : "")
                            </div>
                        </label>
                    </div>
                }
            }

            @Html.Hidden("Application", application)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
        </div>
    </div>
}
