@model CCM.Core.Entities.MetaType
@{
    ViewBag.Title = Resources.Delete_MetaType;
}

<h2>@Resources.Delete_MetaType</h2>
<hr />

<p>@Resources.Delete_MetaType_Are_You_Sure</p>
<p>@Model.Name</p>

@using (Html.BeginForm("Delete", "Meta", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.ActionLink(Resources.Cancel, "Index", "Meta", null, new { @class = "btn btn-default" })
        <button type="submit" class="btn btn-danger">@Resources.Delete</button>
    </div>
}