
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CCM.Web.Properties.Resources> Localizer
@using CCM.Core.Helpers
@using CCM.Web.Extensions
@using Roles = CCM.Core.Helpers.Roles
@model List<CCM.Core.Entities.UserAgent>

@{
    ViewData["Title"] = @Localizer["UserAgents"];
}

@section search
{
    @using (Html.BeginForm("Index", "UserAgents", FormMethod.Post, new { @class = "navbar-form navbar-right ccm-navbar-search", role = "search" }))
    {
        <div class="form-group">
            <input type="text" id="search" name="search" autofocus class="form-control ccm-navbar-search--field" placeholder="@Localizer["Search"]" value="@ViewData["SearchString"]">
            <button type="submit" class="btn btn-default ccm-navbar-search--btn">@Localizer["Search"]</button>
        </div>
    }
}

<div class="row">
    <nav class="navbar navbar-default ccm-sub-navbar--admin" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header ccm-sub-navbar--admin--header">
                <h2>@Localizer["UserAgents"]</h2>
                <span class="navbar-page-description"></span>
            </div>
            <div class="navbar ccm-sub-navbar--admin--links">
                @if (User.IsInRole(Roles.Admin))
                {
                    <ul class="nav navbar-nav nav-pills ccm-sub-navbar--admin--ul">
                        <li>@Html.ActionLink(@Localizer["New_UserAgent"].Value, "Create", "UserAgents")</li>
                    </ul>
                }
            </div>
        </div>
    </nav>
</div>

<div class="row">
    <div class="panel panel-default list-ccm">
        <div class="panel-heading list-ccm-heading">
            <div class="row">
                <div class="col-md-3">@Localizer["Name"]</div>
                <div class="col-md-2">@Localizer["Api"]</div>
                <div class="col-md-3">@Localizer["Identifier"] (@Localizer["Identify_Type"])</div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="panel-body-lp">
            @foreach (var userAgent in Model)
            {
                <div class="">
                    <div class="panel-body-item row">
                        <a data-toggle="collapse" data-parent="#accordion" href="#@userAgent.Id">
                            <div class="col-md-3">
                                @userAgent.Name
                            </div>
                            <div class="col-md-2">
                                @userAgent.Api
                            </div>
                            <div class="col-md-3">
                                @userAgent.Identifier (@userAgent.MatchType.DescriptionAsResource())
                            </div>
                            <div class="col-md-2 list-ccm--agent-logo">
                                @if (!string.IsNullOrWhiteSpace(userAgent.Image))
                                {
                                    <img src="/uaimages/@userAgent.Image" alt="" />
                                }
                            </div>
                            <div class="col-md-1 text-right list-ccm--badge"><span class="badge">@userAgent.Profiles.Count</span></div>
                            <div class="col-md-1 text-right list-ccm-icongroup">
                                @if (User.IsInRole(Roles.Admin))
                                {
                                    @Html.ActionLink(" ", "Edit", "UserAgents", new { @id = userAgent.Id }, new { @class = "glyphicon glyphicon-pencil list-ccm-inlineicon" })
                                    @Html.ActionLink(" ", "Delete", "UserAgents", new { @id = userAgent.Id }, new { @class = "glyphicon glyphicon-trash list-ccm-inlineicon" })
                                }
                            </div>
                        </a>
                    </div>
                    <div class="row panel-collapse collapse well" id="@userAgent.Id">
                        <div class="col-md-12 panel-body">
                            <div class="col-md-4">
                                <dl>
                                    <dt>@Localizer["Identifier"]</dt>
                                    <dd>@userAgent.Identifier</dd>
                                    <dt>@Localizer["Identify_Type"]</dt>
                                    <dd>@userAgent.MatchType.DescriptionAsResource()</dd>
                                    <dt>@Localizer["Width"]</dt>
                                    <dd>@userAgent.Width</dd>
                                    <dt>@Localizer["Height"]</dt>
                                    <dd>@userAgent.Height</dd>
                                    <dt>@Localizer["Homepage"]</dt>
                                    <dd>@userAgent.UserInterfaceLink</dd>
                                </dl>
                            </div>
                            <div class="col-md-offset-4">
                                <dl>
                                    <dt>@Localizer["Profiles"]</dt>
                                    @foreach (var profile in userAgent.Profiles)
                                    {
                                        <dd>@profile.Name</dd>
                                    }
                                    <dt>@Localizer["Comment"]</dt>
                                    <dd>@userAgent.Comment</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>