@using CCM.Core.Helpers
@using Roles = CCM.Core.Helpers.Roles
@model CCM.Web.Models.Location.LocationIndexViewModel

@{
    ViewBag.Title = Resources.Locations;
}

@section scripts {
    <script type="text/javascript">

        $(function() {
            $('#nameColumn').on('click', function() {
                if ($('#SortBy').val() !== "0") {
                    $('#Direction').val("0");
                } else if ($('#Direction').val() === "1") {
                    $('#Direction').val("0");
                } else {
                    $('#Direction').val("1");
                }

                $('#SortBy').val("0");
                $('#searchForm').submit();
            });

            $('#netColumn').on('click', function () {
                if ($('#SortBy').val() !== "1") {
                    $('#Direction').val("0");
                } else if ($('#Direction').val() === "1") {
                    $('#Direction').val("0");
                } else {
                    $('#Direction').val("1");
                }

                $('#SortBy').val("1");
                $('#searchForm').submit();
            });

            $('#netColumnV6').on('click', function () {
                if ($('#SortBy').val() !== "2") {
                    $('#Direction').val("0");
                } else if ($('#Direction').val() === "1") {
                    $('#Direction').val("0");
                } else {
                    $('#Direction').val("1");
                }

                $('#SortBy').val("2");
                $('#searchForm').submit();
            });
        });
    </script>
}

@section search {
    @using (Html.BeginForm("Index", "Location", FormMethod.Post, new { @class = "navbar-form navbar-right ccm-navbar-search", role = "search", @id = "searchForm" }))
    {
        <div class="form-group">
            @Html.TextBoxFor(m => m.Search, new { autofocus="autofocus", @class="form-control ccm-navbar-search--field", placeholder=Resources.Search })
            @Html.HiddenFor(m => m.SortBy)
            @Html.HiddenFor(m => m.Direction)
            @*<input type="text" id="search" name="search" autofocus class="form-control" placeholder="@Resources.Search" value="@ViewBag.SearchString">*@
            <button type="submit" class="btn btn-default ccm-navbar-search--btn">@Resources.Search</button>
        </div>
    }
}

<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand">@Resources.Locations</span>
            </div>
            <div class="navbar admin-page" >
                @if (User.IsInRole(Roles.Admin))
                {
                    <ul class="nav navbar-nav nav-pills">
                        <li>@Html.ActionLink(Resources.New_Location, "Create", "Location")</li>
                    </ul>
                }
            </div>
        </div>
    </nav>
</div>

<div class="row">
    <div class="panel panel-default list-ccm">
        <div class="panel-heading list-ccm-heading">
            <div class="row">
                <div class="col-md-3 sort-column" id="nameColumn">@Resources.Name</div>
                <div class="col-md-2 sort-column" id="netColumn">@Resources.Net</div>
                <div class="col-md-2 sort-column" id="netColumnV6">@Resources.NetV6</div>
                <div class="col-md-3">@Resources.Comment</div>
                <div class="col-md-1">@Resources.Group</div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="panel-body-lp">
            @foreach (var location in Model.Locations)
            {
                <div class="">
                    <div class="panel-body-item row">
                        <a data-toggle="collapse" data-parent="#accordion" href="#@location.Id">
                            <div class="col-md-3">@location.Name</div>
                            <div class="col-md-2">@location.ToIpV4String()</div>
                            <div class="col-md-2">@location.ToIpV6String()</div>
                            <div class="col-md-3">@location.Comment</div>
                            <div class="col-md-1">@location.ProfileGroup.Name</div>
                            <div class="col-md-1 text-right list-ccm-icongroup">
                                @if (User.IsInRole(Roles.Admin))
                                {
                                    @Html.ActionLink(" ", "Edit", "Location", new { @id = location.Id }, new { @class = "glyphicon glyphicon-pencil list-ccm-inlineicon" })
                                    @Html.ActionLink(" ", "Delete", "Location", new { @id = location.Id }, new { @class = "glyphicon glyphicon-trash list-ccm-inlineicon" })
                                }
                            </div>
                        </a>
                    </div>
                    <div class="row panel-collapse collapse well" id="@location.Id">
                        <div class="col-md-12 panel-body">
                            <div class="col-md-4">
                                <dl>
                                    <dt>@Resources.Location_Short_Name</dt>
                                    <dd>@location.ShortName</dd>
                                    <dt>@Resources.Carrier_Connection_Id</dt>
                                    <dd>@location.CarrierConnectionId</dd>
                                    <dt>@Resources.City</dt>
                                    <dd>@(location.City != null ? location.City.Name : string.Empty)</dd>
                                    <dt>@Resources.Region</dt>
                                    <dd>@(location.Region != null ? location.Region.Name : string.Empty)</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
