
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CCM.Web.Properties.Resources> Localizer
@using Roles = CCM.Core.Helpers.Roles
@model CCM.Web.Models.Location.LocationIndexViewModel

@{
    ViewData["Title"] = @Localizer["Locations"];
}

@section search {
    @using (Html.BeginForm("Index", "Location", FormMethod.Post, new { @class = "navbar-form navbar-right ccm-navbar-search", role = "search", @id = "searchForm" }))
    {
        <div class="form-group">
            @Html.TextBoxFor(m => m.Search, new { autofocus = "autofocus", @class = "form-control ccm-navbar-search--field", placeholder = @Localizer["Search"] })
            @Html.HiddenFor(m => m.SortBy)
            @Html.HiddenFor(m => m.Direction)
            <button type="submit" class="btn btn-default ccm-navbar-search--btn">@Localizer["Search"]</button>
        </div>
    }
}

<div class="row">
    <nav class="navbar navbar-default ccm-sub-navbar--admin" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header ccm-sub-navbar--admin--header">
                <h2>@Localizer["Locations"]</h2>
                <span class="navbar-page-description"></span>
            </div>
            <div class="navbar ccm-sub-navbar--admin--links">
                @if (User.IsInRole(Roles.Admin))
                {
                    <ul class="nav navbar-nav nav-pills ccm-sub-navbar--admin--ul">
                        <li>@Html.ActionLink(@Localizer["New_Location"].Value, "Create", "Location")</li>
                    </ul>
                }
            </div>
        </div>
    </nav>
</div>

<div class="row">
    <div class="panel panel-default list-ccm">
        <div class="panel-heading list-ccm-heading">
            <div class="row">
                <div class="col-md-3 sort-column" id="nameColumn">@Localizer["Name"]</div>
                <div class="col-md-2 sort-column" id="netColumn">@Localizer["Net"]</div>
                <div class="col-md-2 sort-column" id="netColumnV6">@Localizer["NetV6"]</div>
                <div class="col-md-3">@Localizer["Comment"]</div>
                <div class="col-md-1">@Localizer["Group"]</div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="panel-body-lp">
            @foreach (var location in Model.Locations)
            {
                <div class="">
                    <div class="panel-body-item row">
                        <a data-toggle="collapse" data-parent="#accordion" href="#@location.Id">
                            <div class="col-md-3">@location.Name</div>
                            <div class="col-md-2">@location.ToIpV4String()</div>
                            <div class="col-md-2">@location.ToIpV6String()</div>
                            <div class="col-md-3">@location.Comment</div>
                            <div class="col-md-1">@location.ProfileGroup?.Name</div>
                            <div class="col-md-1 text-right list-ccm-icongroup">
                                @if (User.IsInRole(Roles.Admin))
                                {
                                    @Html.ActionLink(" ", "Edit", "Location", new { @id = location.Id }, new { @class = "glyphicon glyphicon-pencil list-ccm-inlineicon" })
                                    @Html.ActionLink(" ", "Delete", "Location", new { @id = location.Id }, new { @class = "glyphicon glyphicon-trash list-ccm-inlineicon" })
                                }
                            </div>
                        </a>
                    </div>
                    <div class="row panel-collapse collapse mui-well" id="@location.Id">
                        <div class="col-md-12 panel-body">
                            <div class="col-md-4">
                                <dl>
                                    <dt>@Localizer["Location_Short_Name"]</dt>
                                    <dd>@location.ShortName</dd>
                                    <dt>@Localizer["Carrier_Connection_Id"]</dt>
                                    <dd>@location.CarrierConnectionId</dd>
                                    <dt>@Localizer["City"]</dt>
                                    <dd>@(location.City != null ? location.City.Name : string.Empty)</dd>
                                    <dt>@Localizer["Region"]</dt>
                                    <dd>@(location.Region != null ? location.Region.Name : string.Empty)</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
